<table class="table">
    <tr>
        <td scope="row">Remarques :</td>
        <td>{{item.remarques}}</td>
    </tr>
    <tr>
        <td scope="row">Locataire :</td>
        <td>{{item.locataire.prenom}} {{item.locataire.nom}}</td>
    </tr>
    <tr>
        <td scope="row"></td>
        <td>({{item.locataire.email}})</td>
    </tr>
    <tr>
        <td scope="row">Nb Parasols réservé :</td>
        <td>{{item.parasols.length}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Emplacement</th>
                        <th scope="col">File</th>
                        <th scope="col">Prix Journalier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parasol of item.parasols;">
                        <th scope="row">{{parasol.numEmplacement}}</th>
                        <td>{{parasol.file.numero}}</td>
                        <td>{{parasol.file.prixJournalier}}€</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <div *ngIf="item.statut.nom == 'ATraiter' && idLoc == null">
    <tr>
        <td>
            <button type="button" class="btn btn-outline-success" (click)="valider(item.id==null?0:item.id)">
                Valider
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger" (click)="annuler(item.id==null?0:item.id)">
                Refuser
            </button>
        </td>
    </tr>
    </div>
</table>