<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Espace concessionnaire</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reservations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="">Toutes</a>
                  <a class="dropdown-item" href="">A traiter</a>
                </div>
              </li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary" (click)="deconnection()">Se déconnecter</button>
</nav>