<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <form class="form-group" (ngSubmit)="submitForm()">
                <label for="date">Date sélectionnée</label>
                <input readonly required class="form-control" name="date" type="text" [(ngModel)]="dateLocation" value="{{ dateLocation }}">
                <label for="parasols">Parasols souhaités</label>
                <select (change)="calculerMontant()" class="form-control" required name="parasols" multiple [(ngModel)]="parasolsSelectionnes">
                    <option *ngFor="let number of parasolsDisponibles" value="{{number}}">
                        Parasol {{number}}
                    </option>
                </select>
                <label for="remarque">Remarques</label>
                <input name="remarque" [(ngModel)]="remarque" class="form-control" type="textarea"><br>
                <label for="montant">Montant à régler en €</label>
                <input readonly name="montant" [(ngModel)]="montantAReglerEnEuros" class="form-control" type="text"><br>
                <button type="submit" class="btn btn-outline-dark">Réserver</button>
            </form>
        </div>
    </div>
</div>
