<!--<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input 
                        class="form-control"
						placeholder="yyyy-mm-dd"
						name="dateNotPicker"
					/>
				</div>
			</div>
		</form>
		<div class="text-end">
			<button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
		</div>
	</div>
</ng-template>-->

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <form class="form-group" (ngSubmit)="submitForm()">
                <label for="date">Date sélectionnée</label>
                <input readonly required class="form-control" name="date" type="text" [(ngModel)]="dateLocation" value="{{ dateLocation }}">
                <label for="parasols">Parasols souhaités</label>
                <select (change)="calculerMontant()" class="form-control" required name="parasols" multiple [(ngModel)]="parasolsSelectionnes">
                    <option *ngFor="let number of parasolsDisponibles" value="{{number}}">
                        Parasol {{number}}
                    </option>
                </select>
                <label for="remarque">Remarques</label>
                <input name="remarque" [(ngModel)]="remarque" class="form-control" type="textarea"><br>
                <label for="montant">Montant à régler en €</label>
                <input readonly name="montant" [(ngModel)]="montantAReglerEnEuros" class="form-control" type="text"><br>
                <button type="submit" class="btn btn-outline-dark">Réserver</button>
            </form>
        </div>
    </div>
</div>
