<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-4">
        <h4 class="mb-2 mt-5">Choisissez la date des réservations à consulter</h4>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
            </button>
          </div>
          <button class="btn btn-outline-primary" (click)="submitToChild()">Valider la date</button>
        </div>
      </div>
    </div>
    <app-disposition [dataFromParent]="dataToSend"></app-disposition>
  </div>
