<table class="table">
    <tr>
        <td scope="row">Remarques :</td>
        <td>bla bla bla !</td>
    </tr>
    <tr>
        <td scope="row">Locataire :</td>
        <td>M. TOTO TITI</td>
    </tr>
    <tr>
        <td scope="row">Nb Parasols réservé :</td>
        <td>10</td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Num Emplacement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>42</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-outline-success">
                Valider
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger">
                Refuser
            </button>
        </td>
    </tr>
</table>