<table class="table">
    <tr>
        <td scope="row">Remarques :</td>
        <td>{{item.remarques}}</td>
    </tr>
    <tr>
        <td scope="row">Locataire :</td>
        <td>{{item.locataire.nom}} {{item.locataire.prenom}}</td>
    </tr>
    <tr>
        <td scope="row"></td>
        <td>({{item.locataire.email}})</td>
    </tr>
    <tr>
        <td scope="row">Nb Parasols réservé :</td>
        <td>{{item.parasols.length}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numéro Emplacement</th>
                        <th scope="col">Prix Journalier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parasol of item.parasols;">
                        <th scope="row">{{parasol.numEmplacement}}</th>
                        <td>{{parasol.file.prixJournalier}}€</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-outline-success">
                Valider
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger">
                Refuser
            </button>
        </td>
    </tr>
</table>