<app-nav-inscription></app-nav-inscription>
<br/>
<div class="formulaire">
    <mat-form-field appearance="fill">
      <mat-label>Entrez votre email</mat-label>
      <input matInput placeholder="toto@corporation.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="motDePasse" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput [formControl]="nom" required>
    <mat-error *ngIf="nom.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Prenom</mat-label>
    <input matInput [formControl]="prenom" required>
    <mat-error *ngIf="prenom.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>