<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Debut</th>
            <th scope="col">Fin</th>
            <th scope="col">Montant</th>
            <th scope="col">Statut</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of model;">
            <th scope="row">1</th>
            <td>{{item.dateHeureDebut | date:"dd/MM/YYYY" }}</td>
            <td>{{item.dateHeureFin | date:"dd/MM/YYYY"}}</td>
            <td>{{item.montantAReglerEnEuros}}€</td>
            <td>{{item.statut.nom == "ATraiter" ? "A traiter": item.statut.nom}}</td>
            <td>
                <div *ngIf="cardDetailsVisible">
                    <div class="card" id="cardDetails">
                        <div class="card-header">Details de la réservation</div>
                        <div class="card-body text-secondary">
                            <app-reservations-details [item]="item"></app-reservations-details>
                        </div>
                    </div>
                </div>
                <div *ngIf="!cardDetailsVisible">
                    <button type="button" class="btn btn-primary" (click)="clickDetail()">
                        Details
                    </button>
                </div>
            </td>
            <div *ngIf="cardDetailsVisible">
                <td>
                    <button type="button" class="btn btn-primary" (click)="clickDetail()">
                        X
                    </button>
                </td>
            </div>
        </tr>
    </tbody>
</table>