#cardAuth {
    float: left;
    position: fixed;
    width: 20%;
    height: auto;
}

img {
    display: contents;
    width: 1000px;
    height: 600px;
}

body{
    background-image: url("src/assets/plage.jpg");
    background-position:  center;
}