<div class="alert alert-success" *ngIf="message != null">{{ message }}</div>
<div class="alert alert-error" *ngIf="message_erreur != null">
  {{ message_erreur }}
</div>
<div
  id="cardAll"
  *ngIf="
    !(type == 'Cons') &&
    !(type == 'Loc') &&
    !(type == 'Inscription')
  "
>
  <div id="cardAuth" class="card border-secondary mb-3">
    <div class="card-header">Connectez-vous !</div>
    <div class="card-body text-secondary">
      <form #authForm="ngForm">
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
            placeholder="Entrer votre email"
            required
            [(ngModel)]="model.email"
            name="name"
            #email="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="inputMDP">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="inputMDP"
            placeholder="Mot de passe ?"
            required
            [(ngModel)]="model.motDePasse"
            name="mdp"
            #mdp="ngModel"
          />
        </div>
        <div class="alert alert-danger" *ngIf="type == 'NO'">
          Erreur dans le mot de passe et/ou login
        </div>
        <br />

        <!--
        <mat-form-field appearance="fill">
          <mat-label>Entrez votre email</mat-label>
          <input
            matInput
            placeholder="toto@corporation.com"
            [formControl]="emailValue"
            required
          />
          <mat-error *ngIf="emailValue.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="motDePasseValue"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="motDePasseValue.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>-->
        <br />
        <button
          type="button"
          class="btn btn-primary"
          (click)="authentification()"
        >
          Connection
        </button>
        <br /><br />
        <button type="button" class="btn btn-primary" routerLink="/inscription">
          Inscrivez-vous
        </button>
      </form>
    </div>
  </div>
</div>
